<!DOCTYPE html>
<html lang="ja">
<head>
    <title>おケイさん</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/sakura.css/css/sakura.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2/dist/vue.global.js"></script>
    <style>
        h1 {
            margin-top: 0;
        }

        label {
            display: inline-block;
            font-weight: normal;
        }

        dl {
            display: grid;
            grid-template-columns: max-content auto;
            gap: 0px 16px;
        }

        dt, dd {
            font-weight: normal;
            margin: 0;
        }

        footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: right;
            padding: 16px;
        }
    </style>
</head>
<body>
<header>
    <h1>おケイさん</h1>
    <p><small>※ 時間は10分単位で切り上げます</small></p>
</header>
<main>
    <dl>
        <dt>滞在時間</dt>
        <dd>{{ stayTime }}（{{ totalMinutes }}分）</dd>

        <dt>セット料金</dt>
        <dd>{{ initialPrice.toLocaleString() }}円（{{ TYPES[type].title }}）</dd>

        <dt>延長料金</dt>
        <dd>{{ `${extendPrice.toLocaleString()}` }}円（{{ extendMinute }}分）</dd>

        <dt><strong>合計</strong></dt>
        <dd><strong>{{ `${totalPrice.toLocaleString()}` }}円</strong></dd>
    </dl>
</main>
<footer>
    <hr>
    <div><label>入店時間 <input type="time" v-model="intime"></label></div>
    <div><label>退店時間 <input type="time" v-model="outtime"></label></div>
    <div>
        <label><input type="radio" value="shot" v-model="type">{{ TYPES.shot.title }}</label>
        <label><input type="radio" value="bottle" v-model="type">{{ TYPES.bottle.title }}</label>
    </div>
</footer>
<script>
    (function () {
        const app = Vue.createApp({
            data: () => {
                const now = new Date();
                return {
                    PRICE10: 300,
                    TYPES: {
                        shot: {
                            title: "ショット",
                            initialMinute: 60,
                            initialPrice: 1800,
                        },
                        bottle: {
                            title: "ボトル",
                            initialMinute: 120,
                            initialPrice: 4000,
                        },
                    },
                    intime: "20:00",
                    outtime: `${("" + now.getHours()).padStart(2, '0')}:${("" + now.getMinutes()).padStart(2, '0')}`,
                    type: 'shot',
                }
            },
            computed: {
                stayTime() {
                    const delta = this.totalMinutes;
                    const hour = Math.floor(delta / 60);
                    const minute = Math.ceil(delta % 60);

                    return `${hour}時間${minute}分`;
                },
                totalMinutes() {
                    const intime = new Date('2000/01/01 ' + this.intime);
                    const outtime = new Date('2000/01/01 ' + this.outtime);
                    if (outtime < intime) {
                        outtime.setHours(outtime.getHours() + 24);
                    }

                    return Math.ceil((outtime - intime) / 1000 / 60 / 10) * 10;
                },
                totalPrice() {
                    return this.initialPrice + this.extendPrice;
                },
                initialMinute() {
                    return this.TYPES[this.type].initialMinute;
                },
                initialPrice() {
                    return this.TYPES[this.type].initialPrice;
                },
                extendMinute() {
                    return Math.max(0, this.totalMinutes - this.initialMinute);
                },
                extendPrice() {
                    return this.extendMinute / 10 * this.PRICE10;
                },
            },
        });
        app.mount(document.querySelector('body'));
    })();
</script>
</body>
